@page "/"
@inject NavigationManager NavigationManager

<DbInitView />

<button class="btn btn-primary mt-3"
        @onclick="OnNavigationBlogPost">
    管理部落格文章
</button>

@code{
    void OnNavigationBlogPost()
    {
        NavigationManager.NavigateTo("Blog");
    }
}