@using Blogger.Models
@using System.Linq

@*由 C# 的變數 ShowPopup 來控制，這裡的 HTML 標記是否要顯示出來，這裡完全不需要使用到 JavaScript 或者 jQuery*@
@if (ShowEditRecord)
{
    <!-- #region 修改當前紀錄的 UI -->
    <!-- 使用 Bootstrap 的標準對話窗標記宣告 -->
    <div class="modal" tabindex="-1" role="dialog" style="display:block">
        <div class="modal-dialog" role="document" style="max-width: 80vw">
            <div class="modal-content">
                <!-- 使用 Blazor 內建的表單和驗證功能 -->
                <EditForm Model="@CurrentBlogPost"
                          OnValidSubmit="HandleValidSubmitAsync">
                    <div class="modal-header">
                        <h5 class="modal-title">@IsAddRecordName 紀錄</h5>
                        @*這裡將會宣告一個按鈕，點選這個按鈕，將會關閉此對話窗*@
                        <button type="button" class="close" @onclick="OnCalcelEditRecord">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @*資料批註驗證程式*@
                        <DataAnnotationsValidator />
                        @*驗證摘要和驗證訊息元件*@
                        <ValidationSummary />
                        <!-- #region 在此宣告要輸入的欄位 -->
                        <div class="form-group">
                            <label class="control-label">文章主題</label>
                            <InputText class="form-control" @bind-Value="@CurrentBlogPost.Title" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">文章內容</label>
                            <InputTextArea class="form-control" @bind-Value="@CurrentBlogPost.Text" rows="6" />
                        </div>
                        <!-- #endregion -->
                    </div>
                    <div class="modal-footer">
                        <!-- #region 在此宣告這筆紀錄要處理的動作 -->
                        <div class="">
                            <button type="submit" class="btn btn-primary mr-2">儲存</button>
                            <button class="btn btn-secondary" @onclick="OnCalcelEditRecord"> 取消 </button>
                        </div>
                        <!-- #endregion -->
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
    <!-- 顯示對話窗的半透明背景遮罩 -->
    <div class="modal-backdrop fade show"></div>
    <!-- #endregion -->
}

@code {
    /// <summary>
    /// 現在正在新增或者修改和刪除的當前紀錄
    /// </summary>
    [Parameter]
    public BlogPost CurrentBlogPost { get; set; } = new BlogPost();
    /// <summary>
    /// 是否顯示編輯當前紀錄的 UI
    /// </summary>
    [Parameter]
    public bool ShowEditRecord { get; set; } = false;
    /// <summary>
    /// 現在操作屬於 新增 還是 修改
    /// </summary>
    [Parameter]
    public bool IsAddRecord { get; set; } = false;
    /// <summary>
    /// 對於當前紀錄的操作，是否已經取消
    /// </summary>
    public bool IsCancleRecord { get; set; } = false;
    /// <summary>
    /// 得到現在是新增或者修改模式的說明文字
    /// </summary>
    public string IsAddRecordName
    {
        get
        {
            if (IsAddRecord) return "新增";
            else return "修改";
        }
    }
    [Parameter]
    public EventCallback<bool> RecordEditCallback { get; set; }

    #region 元件生命週期事件
    #endregion

    #region UI 綁定事件委派方法
    void OnCalcelEditRecord()
    {
        ShowEditRecord = false;
        IsCancleRecord = true;
        if (RecordEditCallback.HasDelegate)
            RecordEditCallback.InvokeAsync(false);
    }

    void HandleValidSubmitAsync()
    {
        if (IsCancleRecord == true)
        {
            IsCancleRecord = false;
            return;
        }
        ShowEditRecord = false;
        if (RecordEditCallback.HasDelegate)
            RecordEditCallback.InvokeAsync(true);
    }
    #endregion
}
