@page "/MailQueue"
@attribute [Authorize(Roles = "MailQueue")]

<div>
    <div class="page-title">@BAL.Helpers.MagicHelper.郵件寄送紀錄</div>
    <MailQueueView PageSize="@MagicHelper.GridPageSize" />

</div>