@page
@model Backend.Pages.NeedChangePasswordModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "請變更密碼";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>請進行 請變更密碼</title>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/customSite.css" rel="stylesheet" />
    <link rel="stylesheet" href="fonts/MaterialDesign/css/materialdesignicons.min.css">
    <style>
        .centered {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            min-height: 100vh;
        }
    </style>
</head>
<body>
    <div class="centered">
        <div class="">
            <div class="card cardcenter">
                <div class="card-header">
                    <span class="h2">請重新設定密碼</span>
                </div>
                <article class="card-body">
                    <p class="text-danger text-center">@Model.Msg</p>
                    <form method="post" autocomplete="off" id="loginForm">

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mdi mdi-18px mdi-shield-key"> </span>
                                </div>
                                <input class="form-control m-auto" autocomplete="off"
                                       asp-for="NewPassword" placeholder="請輸入新密碼"
                                       type="@Model.PasswordType">
                            </div>
                        </div> <!-- form-group// -->

                        <div class="form-group mt-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mdi mdi-18px mdi-shield-key-outline"> </span>
                                </div>
                                <input class="form-control m-auto" autocomplete="off"
                                       asp-for="AgainPassword" placeholder="請再度輸入依次新密碼" 
                                       type="@Model.PasswordType">
                            </div>
                        </div> <!-- form-group// -->

                        <div class="row">
                            <div class="col-12 mt-2">
                                <div class="form-group ">
                                    <button type="submit" asp-page-handler="" 
                                            class="btn btn-primary btn-block text-center"> 登入  </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </article>
                <div class="card-footer">
                    <div class="text-secondary">
                        @Model.PasswordHint
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.document.onkeydown = CheckEnter;
        function CheckEnter() {
            if (event.keyCode == 13)
                return false;
            return true;
        }
    </script>
</body>
</html>