@page "/PhaseCategory"
@attribute [Authorize(Roles = "PhaseCategory")]

<div>
    <div class="page-title">@BAL.Helpers.MagicHelper.片語分類</div>
    <PhaseCategoryView PageSize="@MagicHelper.GridPageSize" />
</div>