<div class="parentFullWidth bg-secondary rounded p-2" 
     >
    <div class="align-content-center">
        <span class="h3 mdi mdi-emoticon-sad-outline text-white align-middle"></span>
        <span class="text-white h3 align-middle">
            @BAL.Helpers.MagicHelper.未經授權無法存取此頁面
        </span>
    </div>
    <div >
    </div>
</div>
