@page "/NotFound"

<div style="margin-left: -20px;margin-top: 10px;background: silver;height: 118px;width: fit-content;border-radius: 10px;padding-top: 10px;padding-left: 14px;">
    <div style="float: left;margin-right: 20px;margin-top: 26px;">
        <span class="mdi mdi-48px mdi-emoticon-sad text-secondary"></span>
    </div>
    <div style="width: 617px;">
        <h3 style="padding-top: 9px;color: white;font-weight: bold;">@ShareBusiness.Helpers.MagicHelper.未能找到您要的網頁</h3>
        <h3 style="padding-top: 9px;color: white;font-weight: bold;padding-left: 70px;">@ShareBusiness.Helpers.MagicHelper.可能該網頁已被移除或被移到其他的網址</h3>
    </div>
</div>