@inject CounterViewModel CounterViewModel
<h3>Counter - Razor 元件 View/ViewModel</h3>

<p>Current count: @CounterViewModel.currentCount</p>

<button class="btn btn-primary" @onclick="CounterViewModel.IncrementCount">Click me</button>