@page "/"

<h1>
    Hello, C# 程式碼設計方法!
</h1>

<div class="container-fluid">
    <div class="row">
        @*Razor 元件 - Inline*@
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Counter.razor</h5>
                <div class="card-body">
                    <Counter />
                </div>
            </div>
        </div>

        @*Counter - C# 類別*@
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">CounterCsharp.cs</h5>
                <div class="card-body">
                    <CounterCsharp />
                </div>
            </div>
        </div>

        @*Counter - 繼承 CodeBehind*@
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">CounterInherit.razor</h5>
                <div class="card-body">
                    <CounterInherit />
                </div>
            </div>
        </div>

        @*Razor 元件 Partial 類別*@
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">CounterPartialClass.razor</h5>
                <div class="card-body">
                    <CounterPartialClass />
                </div>
            </div>
        </div>

        @*Razor 元件 View/ViewModel*@
        <div class="col-4">
            <div class="card">
                <h5 class="card-header">CounterView.razor</h5>
                <div class="card-body">
                    <CounterView />
                </div>
            </div>
        </div>
    </div>
</div>



