@page


<h1 class="text-danger">請特別注意，系統發生錯誤.</h1>
<h2 class="text-danger">處理您的請求時發生錯誤。</h2>

<h3>開發模式</h3>
<p>
    切換到<strong>開發</strong>環境將顯示有關發生的錯誤的更多詳細信息。
</p>
<p>
    <strong>已經部署的應用程序不應啟用開發環境模式。</strong>
    它可能導致向最終用戶顯示來自異常的敏感信息。

    對於要進行本地除錯，透過將<strong>ASPNETCORE_ENVIRONMENT</strong> 環境變數設定為<strong>Development</strong> 來啟用<strong>Development</strong> 環境並重新啟動應用程序。
</p>
