<div style="margin-left: -20px;margin-top: 10px;background: silver;height: 70px;width: fit-content;border-radius: 10px;padding-top: 10px;padding-left: 14px;">
    <div style="float: left; margin-right: 20px; ">
    <span class="mdi mdi-48px mdi-emoticon-sad-outline text-secondary"></span>              
    </div>
    <div style="width: 500px;">
        <h3 style="padding-top: 9px;color: white;font-weight: bold;">@ShareBusiness.Helpers.MagicHelper.未經授權無法存取此頁面</h3>
    </div>
</div>
