@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.cardcenter {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width: 30rem;
}

.recordDialog {
    max-width: 100vw;
    max-height: 100vh;
}

.parentFullWidth {
    max-width: calc(100vw - 250px - 32px - 24px);
}

.dialogSize {
    min-width: 95vw;
    min-height: 95vh;
}

@media (max-width: 640px) {
    .cardcenter {
        width: 20rem;
    }
    .parentFullWidth {
        max-width: 100vw;
    }
}