@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor

<AuthorizeView>
    <Authorized>
        <span>
            <b class="mr-2 text-white-50">你好, @context.User.Identity.Name</b>
        </span>
        <span class="mdi mdi-18px mdi-ip-network mdi-light text-white-50">&nbsp;&nbsp; @IP</span>
    </Authorized>
    <NotAuthorized>
        <a class="ml-md-auto btn btn-secondary"
           href="/Login"
           target="_top"><span class="mdi mdi-18px mdi-login" /> 登入 </a>
    </NotAuthorized>
</AuthorizeView>

@code {
        string IP;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            IP = httpContextAccessor.GetConnectionIP();
            StateHasChanged();
        }
    }
}