@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');


.page-title {
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 3px 15px;
    background-color: #d2d6de;
    font-weight: bold;
    color: #5e5e5e;
}

.menu-title {
    padding: 0px 0px 0px 10px !important;
}

.cardcenter {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width: 30rem;
}

.recordDialog {
    max-width: 100vw;
    max-height: 100vh;
}

.parentFullWidth {
    max-width: calc(100vw - 250px - 32px - 24px);
}

.dialogSize {
    min-width: 95vw;
    min-height: 90vh;
}

.fixSidebar {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: var(--fixSidebar-width);
    -ms-overflow-style: none; /* IE and Edge */
}

    .fixSidebar::-webkit-scrollbar {
        display: none;
    }

.my-reconnect-modal > div {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: #fff;
    opacity: 0.95;
    text-align: center;
    font-weight: bold;
}

.components-reconnect-hide > div {
    display: none;
}

.components-reconnect-show > div {
    display: none;
}

.components-reconnect-show > .show {
    display: block;
}

.components-reconnect-failed > div {
    display: none;
}

.components-reconnect-failed > .failed {
    display: block;
}

.components-reconnect-refused > div {
    display: none;
}

.components-reconnect-refused > .refused {
    display: block;
}

.confirm-box-width {
}

.message-box-width {
}

.cursor-pointer {
    cursor: pointer;
}

.layout-theme-top-background {
    background-color: var(--layout-theme-top-background-color) !important;
}

.layout-theme-top-textColor {
    color: var(--layout-theme-top-textColor-color) !important;
}

.layout-theme-left-top-background {
    background-color: var(--layout-theme-left-top-background-color) !important;
}

.layout-theme-left-top-textColor {
    color: var(--layout-theme-left-top-textColor-color) !important;
}

.layout-theme-left-background {
    background-color: var(--layout-theme-left-background-color) !important;
}

.layout-theme-left-textColor {
    color: var(--layout-theme-left-textColor-color) !important;
}

.layout-theme-main-background {
    background-color: var(--layout-theme-main-background-color);
}

.layout-theme-main-footer-background {
    background-color: var(--layout-theme-main-footer-background-color) !important;
    color: var(--layout-theme-main-footer-text-color);
}

.submenu-item-offset{
    margin-left:12px;
}

.layout-main-app-name {
    text-align: center;
    margin-left: -20px;
    width: var(--fixSidebar-width);
    font-weight: bold;
}

.clicked {
    background-color: var(--menu-clicked-color);
    border-right: solid 8px var(--menu-clicked-color-border-right);
}

    .clicked span {
        color: var(--menu-clicked-span-color) !important;
    }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.flow-acton-icon {
    display: inline-block;
}

.command-icon-width {
    width: 18px !important;
}

@media (max-width: 640px) {

    .navbar {
        justify-content: start;
    }

    .navbar-brand {
        margin-left: 1rem;
    }

    .confirm-box-width {
        width: 90vw !important;
    }

    .message-box-width {
        width: 90vw !important;
    }

    .fixSidebar {
        position: initial;
        /*overflow-y: initial;*/
        height: 100%;
        width: 100vw;
        -ms-overflow-style: initial; /* IE and Edge */
    }

        .fixSidebar::-webkit-scrollbar {
            display: initial;
        }

    .cardcenter {
        width: 20rem;
    }

    .parentFullWidth {
        max-width: calc(100vw);
    }

    .layout-main-app-name {
        text-align: start;
        margin-left: 70px;
        margin-top:-40px;
    }
}
