@page "/"
@inject DatabaseInitService DatabaseInitService

@using Syncfusion.Blazor.Spinner

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="Init">資料初始化</button>

<div id="container">
    <SfSpinner @bind-Visible="@VisibleProperty">
    </SfSpinner>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />

<div>
    <span class="mdi mdi-coffee"></span>
    <span class="mdi mdi-48px mdi-coffee"></span>
    <span class="mdi mdi-48px mdi-spin mdi-coffee"></span>
</div>

@code {
    private bool VisibleProperty { get; set; } = false;
    public async Task Init()
    {
        this.VisibleProperty = true;
        await DatabaseInitService.InitDataAsync();
        this.VisibleProperty = false;
    }
}
