@page "/LeaveCategory"
@*@attribute [Authorize(Roles = "User")]*@

<div>
    <div class="page-title">@ShareBusiness.Helpers.MagicHelper.請假假別功能名稱</div>
    <LeaveCategoryView PageSize="@MagicHelper.GridPageSize" />
</div>