@page "/MyUser"
@*@attribute [Authorize(Roles = "User")]*@

<div>
    <div class="page-title">@ShareBusiness.Helpers.MagicHelper.帳號管理功能名稱</div>
    <MyUserView PageSize="@MagicHelper.GridPageSize" />
</div>