@page "/TravelExpense"
@*@attribute [Authorize(Roles = "User")]*@

<div>
    <div class="page-title">@ShareBusiness.Helpers.MagicHelper.差旅費用功能名稱</div>
    <TravelExpenseDetailByTravelExpenseView PageSize="@MagicHelper.GridPageSize" />
</div>