@page "/WorkingLog"
@*@attribute [Authorize(Roles = "User")]*@

<div>
    <div class="page-title">@ShareBusiness.Helpers.MagicHelper.工作日誌功能名稱</div>
    <WorkingLogView PageSize="@MagicHelper.GridPageSize" />
</div>