@using Microsoft.Extensions.Configuration;
@using Microsoft.EntityFrameworkCore;
@using System.Threading.Tasks
@using System.Threading
@using System.Diagnostics
@using Microsoft.AspNetCore.Http
@using Syncfusion.Blazor.Buttons

@inject DatabaseInitService DatabaseInitService
@inject BackendDBContext context
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IWebHostEnvironment env
@inject IConfiguration configuration
@inject IJSRuntime JSRuntime
@inject BlazorAppContext BlazorAppContext
@inject IHttpContextAccessor httpContextAccessor

@using System.Security.Claims
@using Microsoft.AspNetCore.Hosting
@using Syncfusion.Blazor.Spinner
@using Syncfusion.Blazor.Buttons

<h1>Blazor Backend</h1>

<div class="card mb-4">
    <div class="card-header bg-success text-white">
        <span class="h3">專案版本資訊</span>
    </div>
    <article class="card-body bg-light">
        <div class="h4">
            @versionNumber
        </div>
        <div class="h4">
            來源 IP : <span>@IP</span>
        </div>
    </article>
</div>

@code {
    string versionNumber = "";
    string IP;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //IP = httpContextAccessor.GetConnectionIP();
            IP = BlazorAppContext.CurrentUserIP;
            Version version = System.Reflection.Assembly.GetEntryAssembly().GetName().Version;
            versionNumber = version.ToString();

            StateHasChanged();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await Task.Yield();
    }
}
