@page "/ChangePassword"
@attribute [Authorize(Roles = "ChangePassword")]

<PageTitle>@Title</PageTitle>

<div>
    <div class="page-title">@BAL.Helpers.MagicHelper.變更密碼</div>
    <ChangePasswordView />
</div>

@code{
    public string Title { get; set; } = Backend.Helpers.HeaderBuilderHelper
        .GetTitle(BAL.Helpers.MagicHelper.變更密碼);
}
