@page
@model Backend.Pages.KeepAliveModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keep Alve</title>
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-primary display-1">
        @DateTime.Now
    </div>
</body>
</html>
@{
}
