@page "/SystemInfo"
@attribute [Authorize(Roles = BAL.Helpers.MagicHelper.開發者的角色聲明)]

<PageTitle>@Title</PageTitle>

<div>
    <div class="page-title">@BAL.Helpers.MagicHelper.系統摘要資訊</div>
    <SystemInfoView />
</div>

@code{
    public string Title { get; set; } = Backend.Helpers.HeaderBuilderHelper
        .GetTitle(BAL.Helpers.MagicHelper.系統摘要資訊);
}
